@import "./../projects/projects.component.less";

.linier-title {
  background: linear-gradient(180deg, #ff8660 0%, #d5491d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards {
  .card {
    &__body {
      height: 150px;
    }
  }
}
