<div class="container">
  <h2 class="pt-6">Misollar 💡</h2>
  <div class="problems">
    <div class="problem">
      <h3>1. Eng katta va eng kichik sonlar</h3>
      <p>
        Sonlardan<i>(butun sonlardan)</i> iborat <code>m</code> nomli massiv
        berilgan. Massiv ichida eng katta son <code>max</code> va eng kichik son
        <code>min</code> bo'lsa ularni quyidagicha chiqaring:
        <code>[min, max]</code>
      </p>

      <h4>Misol 1:</h4>
      <section>
        <p><span>Input:</span> m = [1, 2, 3, 4, 5]</p>
        <p><span>Output:</span> [1, 5]</p>
      </section>

      <h4>Misol 2:</h4>
      <section>
        <p><span>Input:</span> m = [3, 4, 5, 2, 1]</p>
        <p><span>Output:</span> [1, 5]</p>
      </section>

      <h4><i>Massiv uzunligi 2 dan doim katta bo'ladi</i></h4>
    </div>

    <div class="problem">
      <h3>2. Eng katta son tartibi</h3>
      <p>
        Sonlardan<i>(butun sonlardan)</i> iborat <code>m</code> massivi
        berilgan. Massiv ichidagi eng katta sonni eng birinchi uchraganini
        tartibini toping.
      </p>

      <h4>Misol 1:</h4>
      <section>
        <p><span>Input:</span> m = [3, 2, 6, 5, 6, 1]</p>
        <p><span>Output:</span> 2</p>
        <p>
          <span>Nega:</span> Massiv ichida eng katta son 6 va u 2 ta o'rinda
          kelgan. 2- va 4- o'rinlarda. Birinchi uchragani esa albatta 2.
        </p>
      </section>

      <h4><i>Massiv uzunligi 1 dan doim katta bo'ladi</i></h4>
    </div>

    <div class="problem">
      <h3>3. Almashtirish</h3>
      <p>
        Sonlardan<i>(butun sonlardan)</i> iborat <code>m</code> massivi
        berilgan. Massivdagi sonlar takrorlanmasligini inobatga olgan holda eng
        katta va eng kichik sonlar o'rinlarini almashtiring.
      </p>

      <h4>Misol 1:</h4>
      <section>
        <p><span>Input:</span> m = [1, 2, 5, 6, 3]</p>
        <p><span>Output:</span> [6, 2, 5, 1, 3]</p>
        <p>
          <span>Nega:</span> Massivda eng kichik son 1 va uni tartibi 0, eng
          katta son 6 va uni tartibi 3. 0- va 3- tartibdagi elementlar o'rinlari
          alishtirilsa natija yuqoridagi kabi bo'ladi.
        </p>
      </section>
    </div>

    <div class="problem">
      <h3>4. Tartiblash</h3>
      <p>
        Sonlardan<i>(butun sonlardan)</i> iborat <code>m</code> massivi
        berilgan. Massivni tartiblang.
      </p>

      <h4>Misol 1:</h4>
      <section>
        <p><span>Input:</span> m = [3, 2, 6, 5, 6, 1]</p>
        <p><span>Output:</span> [1, 2, 3, 5, 6, 6]</p>
      </section>
    </div>

    <div class="problem">
      <h3>5. N-son</h3>
      <p>
        Quyidagi ketma-ketlikdan kelib chiqib <code>n</code> - sonni toping:
        <code>1, 1, 2, 3, 5, 8, ...</code>
      </p>

      <h4>Misol 1:</h4>
      <section>
        <p><span>Input:</span> n = 7</p>
        <p><span>Output:</span> 21</p>
      </section>
    </div>
  </div>
</div>
