<div class="container">
  <div class="bg-content">
    <img [src]="data.cover" alt="" />
  </div>
  <article>
    <h2 class="linier-title">Kursdagi mavzular</h2>
    <ul class="about-list">
      @for (topic of data.topics; track $index) {
        <li class="about-list-item">
          <span class="checkbox">&#10004;</span><span>{{ topic }}</span>
        </li>
      }
    </ul>
  </article>
  @if (data.videoLessons?.length) {
    <hr style="border: 1px solid #3c3939; margin-bottom: 40px" />
    <section>
      <ul style="margin-bottom: 40px">
        @for (videoLesson of data.videoLessons; track $index) {
          <li class="course-list">
            <a class="course-card" [href]="videoLesson.link" target="_blank">
              <div>
                <img width="170" height="95" [src]="videoLesson.cover" alt="" />
                <!-- <iframe
                  width="170"
                  height="95"
                  src="https://i.ytimg.com/vi/MPduddgZqQs/hqdefault.jpg?sqp=-oaymwEmCKgBEF5IWvKriqkDGQgBFQAAiEIYAdgBAeIBCggYEAIYBjgBQAE=&rs=AOn4CLDLUTPYq_PyQC6IkUJl7J5MBixU5g"
                  frameborder="0"
                ></iframe> -->
              </div>
              <div>
                <h3 class="course-card-title">
                  {{ videoLesson.title }}
                </h3>
                <div>Davomiylik: {{ videoLesson.duration }}</div>
              </div>
            </a>
          </li>
        }
        <!--<li class="course-list">1. Angularga kirish va asosiy tushunchalar</li>-->
        <!--<li class="course-list">2. Angular ilovasini yaratish (CLI bilan)</li>
        <li class="course-list">3. Project tuzilmasi va asosiy fayllar tahlili</li>
        <li class="course-list">4. Komponentlar: yaratilishi va ishlatilishi</li>
        <li class="course-list">5. Template va data binding (interpolation, property binding, event binding)</li>
        <li class="course-list">6. Two-way data binding</li>
        <li class="course-list">7. Direktivalar: ngIf, ngFor, ngClass, ngStyle</li>
        <li class="course-list">8. Komponentlar o‘rtasida ma'lumot almashinuvi</li>
        <li class="course-list">9. Service va Dependency Injection</li>
        <li class="course-list">10. HTTP so‘rovlar va REST API bilan ishlash</li>
        <li class="course-list">11. RxJS va Observablesga kirish</li>
        <li class="course-list">12. Router: sahifalar o‘rtasida navigatsiya</li>
        <li class="course-list">13. Dinamik routing va parametrlar</li>
        <li class="course-list">14. Formlar: Template-driven forms</li>
        <li class="course-list">15. Formlar: Reactive forms</li>
        <li class="course-list">16. Form validation (sintaktik va dasturlash asosida)</li>
        <li class="course-list">17. Pipe'lar: Standart va Custom pipe yaratish</li>
        <li class="course-list">18. Lifecycle Hooks tushunchasi</li>
        <li class="course-list">19. Modul konsepsiyasi va Lazy Loading</li>
        <li class="course-list">20. Angular Materialga kirish</li>
        <li class="course-list">21. Reusable komponentlar yaratish</li>
        <li class="course-list">22. State Management (ngRx asoslari)</li>
        <li class="course-list">23. Error handling va not found sahifalar</li>
        <li class="course-list">24. Auth: Login, JWT va AuthGuard</li>
        <li class="course-list">25. Testlash: Unit Test va e2e Testlar</li>
        <li class="course-list">26. Performance optimization (Change Detection, TrackBy)</li>
        <li class="course-list">27. Deployment: Angular ilovasini build qilish va joylashtirish</li>
        <li class="course-list">28. Yakuniy loyiha: Amaliy loyiha yaratish va takrorlash</li>-->
      </ul>
    </section>
  }
</div>
